<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<%= number_to_phone "18555556666" %>
<%= number_to_currency "185.50" %>
<%= number_with_delimiter "1999999999324" %>
<%= number_to_percentage "98" %>
